/************
RESETS
************/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/**********
LAYOUT
**********/

.hero {
    background: radial-gradient(rgba(3,143,168,0.7),rgba(3,143,168,0.95) ), url(../img/bg.jpg);
    background-size: 100% 100%;
    color: #FFF;
    background-repeat: no-repeat;
}

main {
    background-color: #D7E1E7;
}

.hero-main-container {
    position: relative;
    /*background-color: #87D4DC;*/
    margin: auto;
    width: 83%;
    height: 306px;
}

.primary-content {
	margin: auto;
	width: 83%;
}

body {
	font-weight: 400;
}

header {
	/*background-color: #FFA500;*/
    position: relative;
    height: 66px;
}

h1.logo {
    /* background-color: #FF0000; */
    font-family: Lobster;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 2.2em;
    margin: 0;
}

.logo a {
    text-decoration: none;
}

.search-container {
    font-size: 0.75em;
    width: 189px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.search-field {
    color: #55B0BC;
    width: 135px;
    border: solid #55B0BC 0.1em;
    background: transparent;
    padding-left: 0.2em;
    font-weight: 100;
}

.search-button {
    border-radius: 2px;
    background-color: #E9501A;
    color: #FFF;
    border: none;
}

::-webkit-input-placeholder {
    color: #55B0BC;
}

:-moz-placeholder { /* Firefox 18- */
    color: #55B0BC; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #55B0BC;
}

:-ms-input-placeholder {  
    color: #55B0BC;
}

.nav-bar {
    display: flex;
    padding: 0.65em 2em;
    margin: 0;
    justify-content: space-around;
    border-top: solid #55B0BC 1px;
    border-bottom: solid #55B0BC 1px;
}

li {
    font-size: 0.7em;
    font-weight: 300;
    list-style-type: none;
}

.hero-greeting {
	position: absolute;
	bottom: 20px;
	/*background-color: #FF00FF;*/
	text-align: center;
	width: 100%;
}

.hero-greeting > h3 {
	font-size: 1.72em;
	font-weight: 300;
    margin: 0;
}

.hero-greeting > p {
	font-size: 0.69em;
}

span {
	font-weight: 700;
}

.pop-out-container {
	position: relative;
	text-align: center;
}

.pop-out {
    display: inline-block;
    background-color: #FFFFFF;
    text-align: center;
    width: 207px;
    margin: 0 .16em;
    transform: translateY(-11px);
}

/*************
Box Shadow for pop-out and main sections 
*************/
.pop-out, .main-container {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.get-help {
    border-top: solid #E55522 2px;
}

.food {
    border-top: solid #8ECE46 2px;
}

.sell {
    border-top: solid #0792D3 2px;
}

.pop-out-header {
    font-weight: 700;
    font-size: 0.7em;
    margin: .5em;
}

.pop-out-content {
    font-size: .7em;
    margin: 1em;
}

.pop-out > button {
    font-size: 0.6em;
    font-weight: 600;
    background: transparent;
    margin-bottom: 0.7em;
}

.get-help > button {
    border: solid #E55522 1px ;
    border-radius: 2px;
    color: #E55522;
}

.food > button {
    border: solid #8ECE46 1px ;
    border-radius: 2px;
    color: #8ECE46;
}

.sell > button {
    border: solid #0792D3 1px ;
    border-radius: 2px;
    color: #0792D3;
}

.aside-media-object {
    background-color: #E8F3F9;
    display: flex;
    align-items: flex-start;
}

.media-graphic, .media-graphic > img {
	width: 55px;
	height: 55px;
}

.media-content {
    font-size: 0.7em;
    padding: 0 .5em 0 .5em;
    flex: 1;
}

.media-content > h4 {
    color: #0792D3;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 0 .2em 0 .1em;
}

.main-media-container {
    background-color: #FFFFFF;
    flex: 2;
    font-size: 0.7em;
    padding: 0.5em;
    vertical-align: top;
}

.main-media-container> *+* {
	padding-top: 0.5em;
}

.main-media-object {
    display: inline-block;
    background-color: #FF0000;
    padding: 0px;
    margin: 0.3em;
    width: 110px;
    vertical-align: inherit;
}

.main-media-graphic, .main-media-graphic > img {
	width: 110px;
	height: 110px;
}

.main-media-content {
	background-color: #FFFF00;
}

.main-media-content > h4 {
    background-color: #8ECF41;
    font-weight: 300;
    padding: 0.2em;
    margin: 0;
}

.main-media-content > p {
    font-weight: 400;
	padding: 0.2em;
	margin: 0;
    background-color: #E3EFD6;
    color: #426805;
}

aside {
    display: flex;
    background-color: #FFFFFF;
    flex: 1.4;
    justify-content: start;
    padding: .5em;
    flex-direction: column;
}

aside > *+* {
	margin-top: .5em;
}

.media-content-header {
	margin: 0;
	font-weight: 700;
} 

.media-content-para {
	margin: 0;
	padding: 0 .2em 0 .1em;
}

.main-container {
	display: flex;
	background-color: #FFC0CB;
}

main {
    padding-bottom: 1em;
}